* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --main-color: #FFFFFF;
    --secondary-color: #000000;
    --header-background-color: #00000066;
    --header-font-color: #FFFFFF33;
    --element-color: #FF0000;
    --element-color-shadow: #FF00004D;
    --shadow-color: #00000040;
    --btn-second-color: #FFFFFF29;
    --box-color: #6A6A6A;
    --form-border: #D1D1D1;
    --form-placeholder-color: #B2B2B2;
    --alternate-background: #28272C;

    --main-font: 'Nunito Sans', sans-serif;
    --secondary-font: 'Opsen Sans', sans-serif;
}

body {
    color: var(--main-color);
}

.container {
    max-width: 1088px;
    margin: 0 auto;
    font-family: var(--main-font);
}

.main-section {
    max-height: 100vh;
}

.hero {
    background-image: url("../images/Image.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--secondary-color);
    opacity: 0.3;
}

.header {
    z-index: 1;
    position: relative;
    background-color: var(--header-background-color);
}

.header__container {
    height: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 35px;
    color: var(--main-color);
    font-weight: bold;
    text-decoration: none;
}

.logo-icon {
    width: 31px;
    height: 35px;
}

.logo-text {
    color: var(--element-color);
    padding: 0 5px 0 10px;
}

.page-nav-list {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
}

.page-nav-list li {
    width: 128px;
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-nav-list li:hover {
    background-color: #FFFFFF33;
    cursor: pointer;
}

.banner {
    z-index: 1;
    position: relative;
}

.banner__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 145px);
    text-align: center;
    flex-direction: column;
    gap: 50px;
}

.banner-title {
    font-size: 90px;
    font-weight: 900;
    text-shadow: 0 3px 6px var(--shadow-color);
}

.banner__description {
    font-size: 16px;
    line-height: 22px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.banner-btn {
    width: 220px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--element-color);
    font-size: 16px;
    border-radius: 40px;
    font-weight: bold;
}

.banner-btn-secondary {
    width: 220px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--element-color);
    font-weight: bold;
    font-size: 16px;
    border-radius: 40px;
}

.button-down {
    z-index: 1;
    position: relative;
    height: 55px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-down-circle {
    background-color: var(--element-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    box-shadow: 0 3px 6px var(--element-color-shadow);
    border-radius: 50%;
    transform: translate(0, -50%);
}

.blog {
    display: flex;
    justify-content: center;
}

.blog-content {
    display: flex;
    flex-direction: column;
    margin: 37.5px 0 100px 0;
}

.section-title {
    font-size: 35px;
    color: var(--secondary-color);
    text-align: center;
    font-weight: bold;
    margin-bottom: 35px;
}

.section-title::before, .section-title::after {
    content: "";
    width: 50px;
    height: 3px;
    background: var(--element-color);
    display: inline-block;
    margin: 11px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--secondary-color);
}

.box img {
    width: 352px;
    height: 234px;
}

.box-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box-title {
    padding-top: 10px;
    font-size: 19px;
    letter-spacing: 0;
    color: var(--box-color);
    padding-right: 92px;
}

.box-description {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    color: var(--box-color);
    padding-right: 92px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 142px;
    border-radius: 40px;
    color: var(--main-color);
    box-shadow: 0 3px 6px var(--element-color-shadow);
    background-color: var(--element-color);
    font-size: 14px;
    font-weight: bold;
}

.service {
    background-color: var(--alternate-background);
}

.service-content {
    background-color: var(--alternate-background);
    padding: 60px 0 100px 0;
}

.section-secondary-title {
    font-size: 35px;
    color: var(--main-color);
    text-align: center;
    font-weight: bold;
    margin-bottom: 75px;
}

.box-secondary img {
    width: 170px;
    height: 170px;
}

.content-secondary {
    display: flex;
    justify-content: center;
    gap: 45px;
    color: var(--secondary-color);
}

.box-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.box-secondary-title {
    color: var(--main-color);
    font-size: 16px;
    font-weight: normal;
}

.box-secondary-description {
    color: var(--form-placeholder-color);
    font-size: 14px;
    font-weight: normal;
}

.contact__container {
    margin: 65px 0 65px 0;
}

.contact {
    display: flex;
    justify-content: center;
}

.contact-content {
    gap: 16px;
    display: flex;
}

.contact-content img {
    width: 444px;
    height: 316.5px;
}

.contact-form {
    width: 444px;
    color: var(--form-placeholder-color);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.contact-form input, .contact-form textarea {
    height: 38px;
    padding: 8px 0 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--form-border);
    font-size: 16px;
    color: var(--form-placeholder-color)
}

.contact-form input::placeholder {
    color: var(--form-placeholder-color)
}

.contact-form input:hover, .contact-form textarea:hover{
    box-shadow: 0 1px 6px var(--element-color-shadow);
    border: 1px solid var(--element-color);
}

.contact-form textarea {
    height: 140px;
}

.agreement {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

label input[type="checkbox"] {
    border: 1px solid var(--form-border);
    border-radius: 8px;
    content: "daw";
    width: 2.15em;
    height: 1.15em;
}

.agreement-description {
    font-size: 10px;
}

.form-send {
    display: flex;
    justify-content: flex-end;
}

.form-send input{
    width: 142px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 1px 6px var(--element-color-shadow);
    border: 1px solid var(--element-color);
    color: var(--element-color);
    background-color: var(--main-color);
    font-weight: bold;
}